.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #edd2cb;
  border: 2px solid #dfbcb3;
  border-radius: 10px;
  width: 30%;
  height: 250px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.form > label {
  font-size: 1.5rem;
  font-weight: bold;
}

.form > input {
  width: 75%;
  height: 2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
}

.form > button {
  background-color: #f55951;
  border: none;
  border-radius: 15px;
  margin-top: 0.5rem;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  transition: background-color 0.3s ease-in;
}

.form > button:hover {
  background-color: #cd4d46;
  cursor: pointer;
}

/* Disable form arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
